<h1>About The VOI</h1

<p>The Virtual Office Incubator is a project by <%= link_to "Design United", "http://designunitednyc.com" %> that is meant to revolutionize the way people practice architecture and collaborate on projects. We are in the very early stages of development but will be adding new features constantly. Check back often for more info.</p>